<link rel="stylesheet" type="text/css" href="modules/core/client/css/footer-content-style.css">

<section class="footer-pages">
  <div class="container-fluid">

      <div class="col-lg-12 full-screen">

        <div class="faq-heading">
          <h2>ABOUT US</h2>
        </div>

        <div class="about-content">
          BooKKing mission is to minimise the wastage of books and thereby reduce the wastage of paper
          which comes at the cost of cutting down of trees. Everyone uses a book but not everyone take
          steps to plant trees. So if we may not contribute in growing trees we must contribute in
          reducing the number of trees cutting down every year. And that is by the reuse of books.
          We provide efficient ways to reuse the books by enabling users to sell their books to any
          other user. Also we provide book bank structure for schools to enable administration of the
          books for Book Bank Management.
        </div>

      </div>

  </div>

</section>
