<link rel="stylesheet" type="text/css" href="modules/core/client/css/add-book-style.css">

<section class="add-book" >
  <div class="container-fluid">
    <div class="col-lg-12 full-screen">
      <div class="row">

        <div class="col-lg-3" align="center">
          <img src="modules/core/client/img/old-books/oldbook1.jpg" />
        </div>
        <div class="col-lg-5 col-lg-offset-1">
          <form>
            <div class="form-group">
              <table>

                <tr>
                  <td>
                    <input class="form-control contact-input" type="text" name="book-name" placeholder="Book Title" required>
                  </td>
                </tr>
                <tr>
                  <td>
                    <input class="form-control contact-input" type="text"  name="book-author" placeholder="Author" required>
                  </td>
                </tr>
                <tr>
                  <td>
                    <input class="form-control contact-input" type="text" name="book-edition" placeholder="Edition">
                  </td>
                </tr>
                <tr>
                  <td>
                    <input class="form-control contact-input" pattern="[0-9]{4}" name="book-year" placeholder="Published Year">
                  </td>
                </tr>

                <tr>
                  <td>
                    <input class="contact-input btn contact-send-btn" type="submit" value="SEND">
                  </td>
                </tr>

              </table>
            </div>
          </form>
        </div>


      </div>
    </div>
  </div>
</section>
