<link type="text/css" rel="stylesheet" href="modules/core/client/css/book-store-style.css">

<section class="book-store">

  <div class="page-header">
    <h1>Books Available</h1>
  </div>

  <div class="container-fluid">
    <div class="col-lg-10 col-lg-offset-2 full-screen">
      <div class="row">

        <div class="col-lg-3 display-book">

          <div align="center">
            <h4>Data Structures</h4>
            <img src="modules/core/client/img/books/images.jpg">
          </div>

          <div>
            <table>
              <tr>
                <td>Author: </td>
                <td>Karumanchi</td>
              </tr>
              <tr>
                <td>Edition: </td>
                <td>2nd</td>
              </tr>
              <tr>
                <td>Published year: </td>
                <td>2015</td>
              </tr>
            </table>
          </div>

        </div>

        <div class="col-lg-3 display-book">

          <div align="center">
            <h4>Algorithms</h4>
            <img src="modules/core/client/img/books/images1.jpg">
          </div>

          <div>
            <table>
              <tr>
                <td>Author: </td>
                <td>Cormen</td>
              </tr>
              <tr>
                <td>Edition: </td>
                <td>3rd</td>
              </tr>
              <tr>
                <td>Published year: </td>
                <td>2014</td>
              </tr>
            </table>
          </div>

        </div>

        <div class="col-lg-3 display-book">

          <div align="center">
            <h4>Course Book</h4>
            <img src="modules/core/client/img/books/images2.jpg">
          </div>
          <div>
            <table>
              <tr>
                <td>Author: </td>
                <td>NCERT</td>
              </tr>
              <tr>
                <td>Edition: </td>
                <td>8th</td>
              </tr>
              <tr>
                <td>Published year: </td>
                <td>2009</td>
              </tr>
            </table>
          </div>

        </div>

        <div class="col-lg-3 display-book">

          <div align="center">
            <h4>Engineering Mathematics</h4>
            <img src="modules/core/client/img/books/images3.jpg">
          </div>

          <div>
            <table>
              <tr>
                <td>Author: </td>
                <td>B.S.Grewal</td>
              </tr>
              <tr>
                <td>Edition: </td>
                <td>38th</td>
              </tr>
              <tr>
                <td>Published year: </td>
                <td>2014</td>
              </tr>
            </table>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>
