<link rel="stylesheet" type="text/css" href="modules/core/client/css/footer-content-style.css">


<section class="footer-pages">
  <div class="container-fluid">
    <div class="col-lg-12 full-screen">
      <div>
        <div class="faq-heading">
          <h2>FREQUENTLY ASKED QUESTIONS</h2>
          <p>BooKKing is a professional bookstore and distribution service – we understand there
            are various type of requirement services offered in the market.
          </p>
        </div>

        <div class="col-lg-12">
          <div class="faq-body">
            <h4>What are the security features while buying?</h4>
            <ul>
              <li>
                <p>
                  You don't need to reach at client side for the deal finalisation. You can chat with
                  the provider online.
                </p>
              </li>
              <li>
                <p>
                  Flexible and Realistic costs for the books.
                </p>
              </li>
              </ul>
            <h4>How the realistic prices are decided?</h4>
            <ul>
              <li>
                <p>
                  In case if you want to buy a book from an individual the prices are defined by the
                  following factors:
                </p>
              </li>
              <li>
                <p>
                  Level- it is defined as the number of previous users of the book.
                  For example if it is level 1 - then the max price is 70% of the MRP.
                </p>
              </li>
              <li>
                <p>
                  Condition of the book - customer may also negotiate the price over the condition
                  of the book, if it is torn or tampered.
                </p>
              </li>
            </ul>


          </div>
        </div>

      </div>
    </div>
  </div>
</section>
