<div class="modal-header">
  <button type="button" class="close" ng-click="vm.cancel()">&times;</button>
  <h1>Hello {{vm.user.displayName}}, Submit Your Testimonial</h1>
</div>

<div class="modal-body" style="margin: 20px;">

  <form  class="form-horizontal" name="vm.testimonialForm" ng-submit="vm.save(vm.testimonialForm)" novalidate autocomplete="off">
    <fieldset >
      <div class="form-group" show-errors>
        <label for="data">Provide your testimonial</label>
        <textarea class="form-control" ng-model="vm.testimonial.data" id="data" placeholder="Feed in testimonial" required></textarea>
        <div ng-messages="vm.testimonialForm.data.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Testimonial content is required.</p>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn book-btn">Submit</button>
      </div>
      <div ng-show="vm.error" class="text-danger">
        <strong ng-bind="vm.error"></strong>
      </div>
    </fieldset>
  </form>
</div>
