.show-book-title{
	text-transform: capitalize;
	margin-left: 1%;
}

.list-book-heading {
	text-transform: uppercase;
	color: #17A697;
	margin-top: 0;
	font-family: 'Montserrat',sans-serif;
	font-size: 12px;
}
.list-book-items-heading {
	text-transform: uppercase;
	color: #0F5959;
	margin-top: 0;
	width: 100%;
}
.list-book-price {
	color: #17A697;
	font-family: 'Montserrat',sans-serif;
	font-size: 12px;
}

.show-book {
	margin: 20px;
	font-size: 20px;
	font-family: 'Source Sans Pro', sans-serif;
}

.show-book-description:first-letter {
	text-transform: capitalize;
}
.list-book-items {
	display: block;
	border: 1px solid lightgrey;
	background: #f8f8f8;
	border-radius: 3px;
	padding: 0 20px;
	min-height: 270px;
}

.list-book-description {
	max-height: 50px;
	min-height: 50px;
	overflow-x: hidden;
	overflow-y: hidden;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	margin-top: 10px;
}

.list-book-description:first-letter {
	text-transform: capitalize;
}

.list-book-img {
	height: 80px;
	width: 55px;
	margin: 0 10px;
}
.small-text {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12px;
}
.list-book-items-btn {
	margin-top: 10px;
	max-height: 24px;
	line-height: 10px;
}
