<section>
  <div class="well" align="center">
    Before contacting the owner of the book you should first agree with our
    <a ui-sref="termsAndConditions" target="_blank">Terms &amp; Conditions.</a>
  </div>

  <div align="center">
    <table class="table-hover" width="50%">
      <tr>
        <td>Name Of book owner: </td>
        <td >Mayank Gupta</td>
      </tr>
      <tr>
        <td>
          Book name:
        </td>
        <td  style="text-transform: capitalize">
Physics Book
        </td>
      </tr>
      <tr>
        <td>Price: </td>
        <td>100</td>
      </tr>
      <tr>
        <td>
          Contact Number:
        </td>
        <td >7838856171
        </td>
      </tr>
      <tr>
        <td colspan="2" align="center">
          <a class="btn btn-success expert-chat-btn" ui-sref="chat.expert({ expertUserId: expert.user._id })">Chat</a>
        </td>
      </tr>
    </table>
  </div>

</section>
