<section>
  <div class="page-header list-book-heading" align="center">
    <h1>Books</h1>
  </div>
  <div class="row">
    <div class="col-lg-2" ng-repeat="book in vm.books">
      <div class="list-book-items">
        <div ui-sref="books.view({ bookId: book._id })">
          <div align="center" class="list-book-items-heading">
            <h4  ng-bind="book.title"></h4>
          </div>
          <div align="center">
            <img src="modules/books/client/img/default.png" class="list-book-img">
          </div>
          <div align="center">
            <p  class="list-book-description" ng-bind="book.description"></p>
          </div>
        </div>
        <div class="pull-right">
          <table class="table-hover">
            <tr class="small-text pull-right">
              <td>
                Posted on: <span ng-bind="book.created | date:'mediumDate'"></span>
              </td>
            </tr>
            <tr class="list-book-price pull-right">
              <td>
                Price: <span ng-bind="book.price"></span>
              </td>
            </tr>
          </table>
        </div>
        <div align="center">
          <button ui-sref="books.buy-rent" class="btn book-btn list-book-items-btn">
            Buy
          </button>
          <button ui-sref="books.buy-rent" class="btn book-btn list-book-items-btn">
            Rent
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.books.$resolved && !vm.books.length">
    No books yet, why don't you <a ui-sref="books.create">add one</a>?
  </div>
</section>
