.default-font{
	font-family: 'Source Sans Pro', sans-serif;
}

.myCarousel{
	max-height: 500px;
	height: 500px;
	overflow: hidden;
	margin: 0 0 30px 0;
}

.main-carousel-heading {
	font: 50px bold;
	font-family: 'Cinzel Decorative', cursive;
}
.main-carousel-subheading {
	font: 30px bold;
	font-family: 'Cinzel Decorative', cursive;
}

.carousel-caption {
	margin-bottom: 30px;
}

.feature-sell {
	margin: 20px;
}

.old-book-img img {
	max-height: 200px;
	max-width: 250px;
	min-height: 200px;
	min-width: 250px;
	margin: 20px;
}

.feature-sell h2 {
	font-family: Montserrat, 'sans-serif';
	font-size: 35px;
	color: #D93240;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.feature-sell p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	color: #17A697;
	margin-bottom: 40px;
}

.submit-ad-button {
	font: 20px bold;
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	background: #D93240;
	border: 1px solid #D93240;
	float: right;
	margin: 0;
}

.feature-buy {
	margin: 30px 0 0 0;
	padding: 10px 10px 60px 10px;
	background: #003442;
}

.feature-buy h2 {
	font-family: Montserrat, 'sans-serif';
	font-size: 35px;
	color: white;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.feature-buy p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	color: white;
	margin-bottom: 40px;
}

.login-first-message {
	font-size: 14px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 500;
	color: red;
	position: relative;
	top: 0;
	left: -60px;
}

.available-books-button {
	font: 20px bold;
	font-family: 'Source Sans Pro', sans-serif;
	color: #003442;
	float: right;
}

.contacts-home{
	width: 100%;
	background: #17A697;
	color: white;
	height: 2.2em;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	padding-top: 5px;
	overflow: hidden;
	padding-right: 20px;
	padding-left: 20px;
}

.carousel-testimonial {
	background-color: #17A697;
	color: white;
	margin: 0 0 70px 0;
}

.carousel-testimonial blockquote{
	min-height: 90px;
}
.carousel-testimonial cite {
	margin: 0 80px 0 0;
}

.testimonial-image{
	background-color: darkgrey;
	background-color: rgba(0,0,0,.2);
}


.book-bank-home {
	margin: 30px 0 10px 0;
	padding: 10px;
}

.book-bank-home h2{
	margin: 20px auto;
	font: 35px bold;
	font-family: 'Montserrat', sans-serif;
	color: #D55256;
	text-transform: uppercase;
}

.book-bank-home p{
	font: 16px bold;
	font-family: 'Source Sans Pro', sans-serif;
	margin-bottom: 20px;
	color: #003442;
	margin-top: 3px;
}
.book-bank-home h3{
	font: 20px bold;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 20px 10px 10px 10px;
	color: #003442;
}

.book-bank-home h4 {
	font: 20px bold;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 20px 10px 10px 10px;
	color: #D55256;
}

.book-bank-home hr{
	height: 2px;
    border: 0;
	width: 30%;
}
.exp-img{
	height: 120px;
	width: 120px;
	border:2px solid #dbdbdb;
}

.expert-chat-btn {
	margin-bottom: 10px;
}


section {
	padding: 10px 0;
}

.center {
	margin: auto;
}

.whyvc{
	margin: 10px 0 60px 0;
	padding: 0 30px 40px 30px;
	background: darkgrey;
	background: rgba(192, 192, 192, 0.1);
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	color: #003442;
	font: 15px bold;
	font-family: 'Source Sans Pro', sans-serif;

}

.whyvc h1{
	font: 30px bold;
	font-family: 'Montserrat', sans-serif;
	color: #D55256;
}

.carousel-feedback-heading{
	margin: 30px;
	color: white;
	font: 30px bold;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}
.quote {
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
.fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
	  -moz-transition-property: opacity;
		-o-transition-property: opacity;
          transition-property: opacity;
}
.fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -moz-transition-property: opacity;
	-o-transition-property: opacity;
          transition-property: opacity;
}
.fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
.fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: white;
  border: none;
}
.fade-quote-carousel blockquote {
    text-align: center;
    border: none;
	font: 16px bold;
	font-family: 'Source Sans Pro', sans-serif;
}
.fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}



.testimonial-button{
	font: 20px bold;
	font-family: 'Source Sans Pro', sans-serif;
	color: #003442;
	float: right;
	margin: 0;
}

.categories-view p{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
}
.categories-view h3{
	font: 30px bold;
	font-family: 'Montserrat', sans-serif;
	color: #D55256;
}

.centerr {
	margin-left: 20px;
	border: 1px solid black;
}

.categories-view a{
	text-decoration: none;
	color: grey;
}
.testimonial-login-message {
	font-size: 14px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 500;
	color: red;
	position: relative;
	top: -20px;
	left: 130px;
}
